/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

/* Keyframes for animation */
@keyframes fadeInUp {
    0% {
        opacity: 100;
        transform: translateY(50px);
    }
    100% {
        opacity: 10;
        transform: translateY(0);
    }
}

/* Apply animation to the text */
.intro h1 p {
    animation: fadeInUp 1.5s ease forwards;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
    font-size: 16px;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav-bar {
    background-color:black; 
    background-position: center;
    padding: 15px 0;
}

.nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo a {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    color:white; /* Change text color to ensure readability */
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white; 
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: white;
}

.home {
    padding: 150px 0;
    text-align: center;
    color: white;
}

.about-me,
.projects,
.contact-me {
    padding: 150px 0;
    text-align: center;
    color: white;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}























