
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav-bar {
    background-color: #a3a4be;
    color: #fff;
}

.navbar-nav img {
    width: 100px;
    height: 100px;
}

.nav-link {
    color: #fff;
    font-weight: bold;
}

.home {

    background-size: cover;
    color: #fff;
    padding: 100px 0;
}

.about-me, .projects, .contact-me {
    padding: 50px 0;
}

.projects-header {
    color: #a3a4be;
}

.card-bg-color {
    background-color: #f9f9f9;
}

.btn-outline-secondary {
    color: #a3a4be;
    border-color: #a3a4be;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
    .navbar-nav img {
        width: 60px;
        height: 60px;
    }
}